paddlepaddle
paddleocr
pdf2image
Pillow
numpy
pandas
langchain
langchain-community
langchain-openai
chromadb
sentence-transformers
streamlit
python-dotenv
pypdf2
fitz
pymupdf
jieba
openai
faiss-cpu
transformers
torch 